name: ML CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  train-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run lint
      run: |
        pip install flake8
        flake8 train.py api

    - name: Train model (MLflow)
      run: |
        python train.py

    - name: Run tests
      run: |
        pytest || true
